
{% extends 'maketareaBundle::principal.html.twig' %}

{% block body %}

    {{ include('maketareaBundle:Default:menuIndex.html.twig') }}
    <article>
        <div class='columnas'>
            <div class='col-left70 content-centered'>
                <h1>make Tarea</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class='col-right30 content-centered'>
                <br><br><br>
                <a class='blue-button button-big' href="#') }}">
                    Iniciar Sesion
                </a>
                <br><br><br>
                <a class='blue-button button-big' href="#') }}">Crear cuenta</a>
            </div>
        </div>
        <h2>Funciones simples:</h2>
        <a href="#">
            Ver una lista de todos los usuarios.
        </a><br>
        <a href="#">
            Ver todas las tareas registradas
        </a>
        
    </article>
    
{% endblock %}
