<header>
    <nav class="columnas">
        <div class="col-left50">
            <a class="nav-btn" href="{{ path('maketarea_homepage') }}">make Tarea</a>
            <a class="nav-btn" href="#">Caracteristicas</a>
            <a class="nav-btn" href="#">Acerca de</a>
        </div>
        <div class="col-right50 content-right">
            <a class="nav-btn" href="{{ path('app') }}">Iniciar sesión</a>
        </div>
    </nav>
</header>